# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# === Django ===
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env
*.log
local_settings.py

# === Migrations ===
# Миграции ОБЯЗАТЕЛЬНО должны быть в репозитории: без них сервер
# не сможет применить изменения схемы (manage.py migrate).

# === Virtual environment ===
venv/
myenv/
.env/
env/
.venv/

# === VS Code / IDE ===
.vscode/
.idea/

# === System files ===
.DS_Store
Thumbs.db

# === Backup / temporary files ===
*.bak
*.swp
*.tmp
